<h1>Listing levenhoods</h1>

<table>
  <tr>
    <th>Neighbor String</th>
    <th>Words</th>
    <th>Dictionary</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @levenhoods.each do |levenhood| %>
  <tr>
    <td><%= levenhood.neighbor %></td>
    <td><%= levenhood.words %></td>
    <td><%= levenhood.dictionary_id %></td>
    <td><%= link_to 'Show', levenhood %></td>
    <td><%= link_to 'Edit', edit_levenhood_path(levenhood) %></td>
    <td><%= link_to 'Destroy', levenhood, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Levenhood', new_levenhood_path %>
