Dictionary:  <%= @dictionary.name %> <br/><br/>
<table>
<%- @page.each_with_index do |word,i| %>

  <%- if  (i % 10) == 0 %>
      <%- if i > 0%>
        </tr>
     <%- end %>
     <tr>
   <%- end %>
   <td> <%= word %> </td>
 
 <%- end  %>
</tr><table> 
<br/>
<br/>
<%- if @page.count == 0 %>
  <%=link_to 'Find a valid Dictionary and offset', dictionaries_path%>
<%- else %>
  Words on this page <%= @page.count %> <br/>
  Total words <%= @words.count %> <br/>
  Offset into dictionary <%=@offset%> <br/>
 
  <%- if @forward %>
    <a href='<%=@forward%>'>Next page </a>
  <%-end%>

<%end%>